.Out{
    position: absolute;
    top: 0px;
    right: 0px;
}
.sub_total{
    font-size: 30px;
    .hand{
    }
    .on_button{
        padding-left: 10px;
        padding-top: 20px;
        .button{
            border: none;
            border-radius: 40px;
            width: 50px;
            height: 50px;
            background-color: hotpink;
            color: white;
            font-size: 25px;
            font-weight: 600;
        }
    }
    .score{
        padding-top: 30px;
        font-weight: 600;
        font-size: 40px;
    }
}